* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    background-color: #F5DEB3;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin: 30px 0 60px 0;
}

h1:after {
    content: '';
    position: absolute;
    left: 32.5%;
    bottom: 0;
    width: 35%;
    height: 3px;
    background-color: black;
    margin-bottom: -30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

header {
    font-family: monospace;
    padding: 10px 20px;
    color: black;
    background-color: #D2B48C;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1100px;
    text-align: center
}

  header .column {
    width: 33.333%;
    max-width: 700px;
    flex-shrink: 0;
    min-width: 350px;
}

.logos_block {
    display: flex;

}

header .itmo_block {
    flex: 1 1 auto;
    padding: 15px 0 5px 15px;
    width: calc(33% - 130px);
}

header .main_title {
    max-width: 1000px;
    margin: 10px;
    color: #FF9200;
    padding: 30px 0;
    background-color: #330570;
    border: 2px solid #4F2982;
    border-radius: 60px 0;
    box-shadow: 5px 5px 3px #996AD6, -8px -8px 8px #A65F00;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

header .error_title {
    color: #330570;
    background-color: #E40045;
    border-color: #94002D;
    box-shadow: 5px 5px 3px #94002D, -8px -8px 8px #E40045;
}

header .made_by {
    text-align: right;
}


.main_content {
    text-align: center;
}

.main_content .content_row {
    justify-content: space-around;
    flex-wrap: wrap;
    display: inline-flex;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 1500px;
}

.column{
  border-radius: 10px;
}

.main_content .column {
    max-width: 800px;
    min-width: 400px;
    background-color: #FFDEAD;
    margin: 1%;
    border: black 3px solid;
}

#areas {
    background-size: contain;
}

.empty{
    background-image: url("../images/empty.png");
    background-repeat: no-repeat;
    margin: 2px;
    margin-bottom: -4px;
}
.radius1{
    background-image: url("../images/radius1.png");
    background-repeat: no-repeat;
    margin: 2px;
    margin-bottom: -4px;
}
.radius15{
    background-image: url("../images/radius1,5.png");
    background-repeat: no-repeat;
    margin: 2px;
    margin-bottom: -4px;
}
.radius2{
    background-image: url("../images/radius2.png");
    background-repeat: no-repeat;
    margin: 2px;
    margin-bottom: -4px;
}
.radius25{
    background-image: url("../images/radius2,5.png");
    background-repeat: no-repeat;
    margin: 2px;
    margin-bottom: -4px;
}
.radius3{
    background-image: url("../images/radius3.png");
    background-repeat: no-repeat;
    margin: 2px;
    margin-bottom: -4px;
}

#visualization_container {
    transition-duration: 1000ms;
    max-width: 1000000px;
    min-width: 0;
}

#visualization_container.input_err {
    border-color: #94002D;
    box-shadow: 4px 4px 4px #E40045, -4px -4px 4px #E40045, 4px -4px 4px #E40045, -4px 4px 4px #E40045;
}


.send_form {
    padding: 50px 0;
    display: inline-block;
    text-align: left;
}

.coordinate_block {
    margin: 0 0 8% 0;
}

.send_form input, .send_form select option, .send_form select {
    font-family: "Trebuchet MS", sans-serif;
    padding: 7px;
    font-size: 12px;
    outline: none;
    transition-duration: 500ms;
    width: 30%;
}

.send_form label {

    font-weight: 700;
    font-size: 20px;
    margin: 0 20px 0 0;
}

.input-coordinate{
  margin-bottom: 12px;
}

.send_form input::placeholder {
    font-family: "Trebuchet MS", sans-serif;
}

.send_form select option:disabled {
    background-color: #330570;
    color: #996AD6;
}

.send_form #y_select, .send_form #x_select {
    width: 300px;
}

.send_form .button_block {
    justify-content: space-between;
    display: inline-flex;
    width: 300px;
    vertical-align: 2px;
}

.send_form .r_button, .send_button {
    padding: 10px 15px;
    background-color: #DEB887;
    border-color: #4F2982;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    transition-duration: 200ms;
}

.send_form .r_button:hover, .send_button:hover {
    background-color: #8B4513;
    color: white;
    border-color: #A65F00;
}

.send_form .input_err {
    background-color: #E40045;
    border-color: #94002D;
}

.sel {
    background-color: #FF9200 !important;
    color: white !important;
    box-shadow: 2px 2px 0 #996AD6 !important;
}

.send_button_block {
    text-align: center;
}

.main_content .result_table {
    border-radius: 10px;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 5px;
}

th, td {
    border: 3px solid black;
    padding: 10px 15px;
}

th {
    background-color: #CD853F;
    color: black;
}

td {
    word-break: break-all;
}

footer {
    padding: 5px;
    width: 100%;
    background-color: #A9F16D;
    color: #439400;
    min-width: 1100px;
}

footer .footer_text {
    display: inline-block;
    width: 100%;
    text-align: center;
}
